.arch {
    height: 300px;
    width: 100%;
    background-position-x: center;
    background-size: cover;
}

.arch-5 {
    height: 400px;
    width: 100%;
    background-position-x: center;
    background-size: cover;
}



.page-header-home, .page-header-general {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arch-footer {
    height: 150px;
    background-color: white;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    display: flex;
    .footer-copyright {
        color: white;
        margin: auto auto 0 auto;
    }
}

.arch-footer-content {
    margin-top: -200px;
}

.home-header-image {
    margin-top: 100px;
}