$color-0: #262b2b !default;
$color-5: #c4c4c4 !default;
$color-6: rgba($color: #fff, $alpha: 0.3) !default;
$color-7: rgba($color: #fff, $alpha: 0.5) !default;
$color-8: rgba($color: #fff, $alpha: 0.7) !default;
$color-9: #e8e8e8 !default;
$color-10: #ffffff !default;

