body {
  font-family: sans-serif;
  background: #c4c4c4;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
}

.sans-pg-fold-r3 {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.sans-pg-fold-r1 {
  height: 100vh;
  display: -ms-grid;
  display: grid;
}

h2 {
  font-weight: 300;
  color: #993e18;
}

a {
  color: #60270f;
}

#primary {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sans-row-bg-1 {
  background-color: #fefbf9;
}

.sans-row-bg-2 {
  background-color: #eeeeef;
}

header .sans-top-bar {
  background-color: #eeeeef;
}

header .sans-top-brand, header .sans-top-brand-home {
  background-color: #ffffff;
  text-align: center;
}

header .sans-top-brand .custom-logo {
  max-height: 80px;
}

header .sans-top-brand-home .custom-logo {
  max-height: 250px;
}

header nav ul {
  list-style: none;
  padding: 0;
  /*
            li.menu-item-has-children::before {
                content: "\25bc";
                float: right;
                opacity: 0.5;
                color: white;
            }
            */
}

header nav ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

header nav ul a {
  color: #60270f;
  text-decoration: none;
}

header nav ul li {
  /*border-top: rgba($color: #262b2b, $alpha: 0.5) solid 1px;*/
  padding: 5px 0;
  margin: 0 10px;
  /*ul {
                    max-height: 0;
                    overflow: hidden;
                }*/
}

header nav ul li:last-child {
  margin: 0 0 0 10px;
}

.sans-cont {
  margin: 0 auto;
  padding: 10px 0;
  width: 94%;
  max-width: 1200px;
}

.sans-grd-cont {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.sans-grd-cont section {
  padding: 20px;
}

.sans-grd-ctr {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.sans-flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sans-alg-it-ctr {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sans-txt-rt {
  text-align: right;
}

.sans-txt-ctr {
  text-align: center;
}

.sans-flx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul.children {
  font-size: 0.5em;
}
/*# sourceMappingURL=template.css.map */