@import '_variables';
@import '_mixins';

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background: $neutral;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $black;
}
#site-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.sans-pg-fold-r3 {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.sans-pg-fold-r2 {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.sans-pg-fold-r1 {
    height: 100vh;
    display: grid;
}


.home-one-sidebar, .home-two-sidebar  {
    text-align: center;
}


h2 {
    font-weight: 300;
    color: $primary-darker;
}

a {
    color: $primary-darkest;
    &:hover{
        text-decoration: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

.sans-row-bg-1 {
    background-color:  $primary-lightest;
}
.sans-bkgd-pg {
    background-color: $accent-lightest;
}


header {
    .sans-top-bar {
        background-color: $accent-lightest;
    }
    .sans-top-brand, .sans-top-brand-home {
        background-color: $white;
        text-align: center;
    }

    nav {
        ul {
            &.menu {
                margin: 0;
            }
            list-style: none;
            padding: 0;
            a {
                color: $primary-darkest;
                text-decoration: none;
                transition: color 200ms;
                &:hover {
                    color: $primary-darker;
                }
            }
            li {
                padding: 5px 0;
                margin: 0 10px;
                &:last-child {
                    margin: 0 0 0 10px;
                }
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    header {
        .sans-top-brand {
            .custom-logo {
                @include header-logo-size(80px);
            }
        }
        .sans-top-brand-home {
            .custom-logo {
                @include header-logo-size(250px);
            }
        }
    
        nav {
            ul {
                &.menu {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                }
            }
        }
    }
}



#home-header-r2 {
    background: linear-gradient(rgba($color: $white, $alpha: 0.1), rgba($color: $white, $alpha: 0.7));
    padding: 10px;
}

#home-header-r3 {
    background-color: rgba($color: $white, $alpha: 0.7);
    padding: 10px;
    #learn-more {
        text-decoration: none;
        transition: color 200ms;
        &::after {
            display: block;
            content: '\25BC';
        }
        &:hover {
            color: $primary-darker;
        }
    }
}

#home-site-intro {
    text-shadow: 1px 1px 3px rgba($color: $white, $alpha: 0.7);
    font-size: 2em;
    .site-name, .site-desc {
        margin: 20px 0;
        display: block;
    }
    .site-name {
        font-weight: 500;
        color: $accent-darker;
    }
    .site-desc {
        font-weight: 300;
        color: $primary-darkest;
    }
}

.sans-cont {
    margin: 0 auto;
    padding: 10px 0;
    width: 94%;
}

@media (min-width: 980px) {
    .sans-cont {
        max-width: 980px;
    }
}


.sans-grd-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    section {
        padding: 20px;
    }
}

@media (min-width: 980px) {
    .sans-grd-cont {
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.sans-grd-ctr {
    display: grid;
    place-items: center;
}

.sans-flx {
    display: flex;
    justify-content: space-between;
}

.sans-alg-it-ctr {
    align-items: center;
}

.sans-txt-rt {
    text-align: right;
}

.sans-txt-ctr {
    text-align: center;
}

.sans-flx-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    text-align: center;
    ul {
        &.menu {
            display: flex;
            justify-content: center;
            margin: 0;
            li {
                padding: 5px 0;
                margin: 0 10px;
            }           
        }
        list-style: none;
        padding: 0;
        &.children {
            font-size: 0.5em;
        }
    }
    .custom-logo {
        @include header-logo-size(80px);
    }

    .footer-middle {
        background-color: white;
    }

    .footer-bottom{
        padding: 10px;
        background-color: $accent-lightest;
        color: $accent-darker;
        font-size: 0.8em;
    }
}

%button {
    margin: 20px;
    padding: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
}

.button-primary {
    @extend %button;
    background-color: $primary;
    border: darken($primary, 10%) solid 1px;
    @if(lightness($primary) < 70%) {
        color: $white;
        text-shadow: 1px 1px 2px rgba($color: darken($primary, 30%), $alpha: 1);
    } @else {
        color: $black;
        text-shadow: 1px 1px 2px rgba($color: lighten($primary, 50%), $alpha: 1);
    }
    box-shadow: 1px 1px 2px rgba($color: $primary-darkest, $alpha: 0.5);
    transition: background-color 500ms, border 500ms;
    &:hover {
        background-color: darken($primary, 5%);
        border: darken($primary, 15%) solid 1px;
    }
}

.button-accent {
    @extend %button;
    background-color: $accent;
    border: darken($accent, 10%) solid 1px;
    @if(lightness($accent) < 70%) {
        color: $white;
        text-shadow: 1px 1px 2px rgba($color: darken($accent, 30%), $alpha: 1);
    } @else {
        color: $black;
        text-shadow: 1px 1px 2px rgba($color: lighten($accent, 50%), $alpha: 1);
    }
    box-shadow: 1px 1px 2px rgba($color: $accent-darkest, $alpha: 0.5);
    transition: background-color 500ms, border 500ms;
    &:hover {
        background-color: darken($accent, 5%);
        border: darken($accent, 15%) solid 1px;
    }
}

#primary {   
    padding-top: 20px;
    padding-bottom: 60px;
    h1 {
        text-align: center;
        font-size: 3em;
        font-weight: 300;
        color: $accent-darkest;
    }
}
