body {
    font-family: sans-serif;
    background: #c4c4c4;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.sans-pg-fold-r3 {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.sans-pg-fold-r1 {
    height: 100vh;
    display: grid;
}



h2 {
    font-weight: 300;
}



#primary {
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.sans-row-bg-1 {
    background-color: #fff;
}
.sans-row-bg-2 {
    background-color: rgb(236, 236, 236);
}

header {

    .sans-top-bar {
        background-color: rgba($color: #fff, $alpha: 0.7);
    }
    .sans-top-brand {
        background-color: rgba($color: #fff, $alpha: 0.3);
        text-align: center;
        .custom-logo {
            max-height: 80px;
        }
    }
    .sans-top-brand-home {
        background-color: rgba($color: #fff, $alpha: 0.3);
        text-align: center;
        .custom-logo {
            max-height: 250px;
        }
    }

    nav {
        ul {
            &.menu {
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-end;
                margin: 0;
            }
            list-style: none;
            padding: 0;
            a {
                color: #262b2b;
                text-decoration: none;
            }
            li {
                /*border-top: rgba($color: #262b2b, $alpha: 0.5) solid 1px;*/
                padding: 5px 0;
                margin: 0 10px;
                /*ul {
                    max-height: 0;
                    overflow: hidden;
                }*/
                &:last-child {
                    margin: 0 0 0 10px;
                }
            }
            /*
            li.menu-item-has-children::before {
                content: "\25bc";
                float: right;
                opacity: 0.5;
                color: white;
            }
            */
        }
    }
}

.sans-cont {
    margin: 0 auto;
    padding: 10px 0;
    width: 94%;
    max-width: 1200px;
}

.sans-grd-cont {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    section {
        padding: 20px;
    }
}

.sans-grd-ctr {
    display: grid;
    place-items: center;
}

.sans-flx {
    display: flex;
    justify-content: space-between;
}

.sans-alg-it-ctr {
    align-items: center;
}

.sans-txt-rt {
    text-align: right;
}

.sans-txt-ctr {
    text-align: center;
}

.sans-flx-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: rgba($color: #fff, $alpha: 0.5);
    text-align: center;
    ul {
        list-style: none;
        padding: 0;
        &.children {
            font-size: 0.5em;
        }
    }
}
