body {
    font-family: sans-serif;
    background: #f2f9ed
}

header {
    nav {
        background-color: #61665b;
        ul {
            list-style: none;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

/*
npm run watch
*/