body {
    font-family: sans-serif;
    background: #f2f9ed
}

header {
    nav {
        background-color: #61665b;
        padding: 5px 5%;
        ul {
            list-style: none;
            padding: 0;
            a {
                color: white;
                text-decoration: none;

            }
            li {
                border-top: rgba($color: white, $alpha: 0.5) solid 1px;
                padding: 5px 0;
                ul {
                    max-height: 0;
                    overflow: hidden;
                }
            }
            li.menu-item-has-children::before {
                content: "\25bc";
                float: right;
                opacity: 0.5;
                color: white;
            }
        }
    }
}
.grd-con {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    section {
        background-color: wheat;
        padding: 20px;
    }
}

footer {
    text-align: center;
    ul {
        list-style: none;
        padding: 0;
        &.children {
            font-size: 0.5em;
        }
    }
}

/*
npm run watch
*/